table.preamp {
    text-align: center;
}
table.preamp th, td {
  padding: 8px 4px;
  text-align: center;
  border-bottom: 1px solid #E1E1E1; }
table.preamp tbody td {
  padding: 8px 4px;
  text-align: center;
  border-bottom: 1px solid #E1E1E1; }


table.eq {
    text-align: center;
}
table.eq th, td {
  padding: 8px 4px;
  text-align: center;
  border-bottom: 1px solid #E1E1E1; }
table.eq tbody td {
  padding: 8px 4px;
  text-align: center;
  border-bottom: 1px solid #E1E1E1; }

.slider {
    -webkit-appearance: none;
    width: 96px;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1144CC;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1122CC;
    cursor: pointer;
}
.slider:hover,
slider:hover { color: #FFF; background-color: #75a3e5; border-color: #111111; }

.slider2 {
    -webkit-appearance: none;
    width: 56px;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1144CC;
    cursor: pointer;
}
.slider2::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1122CC;
    cursor: pointer;
}
.slider2:hover,
slider2:hover { color: #FFF; background-color: #75a3e5; border-color: #111111; }
